[Desktop Entry]
Version=1.0
Name=YAC Commander
Comment=A Tab based file manager similar to Total Commander and mc
Type=Application
Icon=TC_QT.png
Terminal=false
Exec=yc
Categories=System
